extends ../layout

block content
  a(href='/bicicletas') volver

  br
  br
  br

  h1 Ver bicicleta

  br
  br

  form(action=`/bicicletas/${bici.id}/update` method='post')
    label(for="id") ID: 
    label= bici.id
    br
    label(for="color") Color: 
    label= bici.color
    br
    label(for="modelo") Modelo: 
    label= bici.modelo
    br
    label(for="lat") Latitud: 
    label= bici.ubicacion[0]
    br
    label(for="lng") Longitud: 
    label= bici.ubicacion[1]
    br